.row {
    padding: 0%;
}

.navbar {
    height: 100vh;
    display: flex;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    padding: 20px !important;
    gap: 20px;
    border: 1px solid lightgrey;
    border-top: none;
}

#personal {
    background-color: white;
    border: none;
    color: #466f88;
    font-size: 20px;
}

#contacts {
    background-color: white;
    border: none;
    color: #466f88;
    font-size: 20px;
}