.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-class{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.header h1 {
  color: #424864;
}

#links {
  text-decoration: none;
  color: #6f73d2;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#formulario {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 30px;
  width: 60%;
}

label span {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label{
  width: 70%;
  padding: 5px;
}

/* label input {
  border: 0.5px solid lightgray;
  margin: 5px;
  padding: 2px 20px;
  outline: none;
  font-size: 14pt;
  transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
  width: 100%;
} */
/* 
#email {
  width: 100%;
}

#password {
  width: 100%;
} */

.labelContainer{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
}
.submit-btn{
  width: 70%;
  margin: 15px;
  border-radius: 8px;
}

.atajos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#register-btn {
  background-color: #6f73d2;
  color: white;
  border: none;
  height: 40px;
}

.input-class{
  width: 70%;
  height: 40px;
  border-radius: 10px;
}

#register-btn:hover {
  opacity: 0.75;
}

.google-btn {
  margin-top: 10px;
  height: 40px;
  width: 68%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  cursor: pointer;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 8px;
}

.google-btn:hover {
  opacity: 0.75;
}

.google-btn picture {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-btn picture img {
  width: 100%;
}

.footer {
  margin-top: 30px;
}

.imagen {
  padding: 10px 10px;
  height: 100vh;
}

#right-img {
  height: 100%;
  width: 100%;
}
